---
import { postcss } from 'tailwindcss';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const title = 'Living Homeless | Learn about homelessness through lived experiences';
const description = 'Learn how to live homeless with Lisa and Andrew.';
const permalink = Astro.site.href;
---

<!doctype html>
<html lang="en">
  <BaseLayout title={title} description={description} permalink={permalink}>
	<div class="flex flex-1 items-center justify-center my-16">
		<div class="flex-1 px-8">
			<h2 class="font-bold mb-16">Welcome to Living Homeless!</h2>
			<p>
				Thank you for stopping by and checking out the Living Homeless Blog Site by Andrew Weisbeck
				and Lisa Heusner. We are excited to share our experience and knowledge with you about what 
				it is like to be homeless, how to survive when homeless, and hopefully we can inspire you to 
				help others who are suffering through a difficult time like we are.
			</p>
			<p class="my-8">
				You can find our homelessness tips and guides on the <a href="/blog">blog page</a>, follow our daily
				journey on the <a href="/journal">journal page</a>, and find homeless stats and resources on the 
				<a href="/resources">resources page</a>. Learn more about Lisa and Andrew or donate to help lift 
				them out of homelessness below!	
			</p>
			<div class="flex my-8">
			  <a href="/about" class="border-2 border-black rounded-2xl bg-sky-400 hover:bg-sky-600 text-white hover:text-white px-4 py-1">Learn More</a>
			  <a href="/donate" class="border-2 border-black rounded-2xl bg-green-400 hover:bg-green-600 text-white hover:text-white px-4 py-1 ml-6">Donate Now</a>
			</div>
		</div>
		<div class="mx-8 text-center h-full">
			<picture class="block min-h-full">
				<img src="livinghomelesslogo.png" alt="Living Homeless Logo" class="max-h-xl w-full" />
			</picture>
		</div>
	</div>
	<div class="px-8 items-center justify-center">
		<h2 class="font-bold leading-5 mt-12 mb-16 text-center">Featured Posts</h2>
		<ul class="flex flex-wrap gap-8 m-0 p-0 justify-center">
			{
				posts.map((post) => (
					<li class="w-3/12 ease-in first:mb-4 first:text-center">
						<a href={`/blog/${post.slug}`} class="inline-block">
							<img width={360} height={180} src={post.data.heroImage} alt="" />
							<h4>{post.data.title}</h4>
							<p>
								<FormattedDate date={post.data.pubDate} />
							</p>	
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="px-8 items-center justify-center mt-12">
		<h3 class="font-bold leading-5 mb-8">This is a work in progress - here's what we're working on:</h3>
			<ul class="list-disc px-10">
				<li>Adding resources and statistics to our resources page.</li>
				<li>Catching up on our daily journal - need to copy from our real journals.</li>
				<li>Adding categories and date sidebars to our journal and blog pages.</li>
				<li>Adding more ways for you to contribute to our apartment fundraising efforts!</li>
				<li>Adding links to sign up to the Substack Newsletter and Medium Publications.</li>
				<li>Updating our social medias to keep you up to date with our latest news!</li>
				<li>Much more is in the works - you can stay up to date with our <a href="https://github.com/users/geauxtigers69/projects/2/views/3">GitHub Project Page</a>!</li>
			</ul>
	</div>
	</BaseLayout>
</html>
